.git
.gitignore
.venv
venv/
env/
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache/
.DS_Store

# Ignore large data and weights, these should be mounted via volumes
runs/
datasets/
*.pt
*.mp4
*.avi
*.mkv
*.jpg
*.jpeg
*.png
